.award {
    p {
        color: gray;
        font-size: 14px;
    }

    h1 {
        font-size: 4.5vw;
        color: white;
        font-weight: bold;
    }

    .aw {
        font-size: 3.5vw;
        font-weight: bold;
        letter-spacing: 3px;
    }

    .award-box {
        position: relative;
    }

    .award-box:not(.award-box:last-child)::before {
        right: 0;
        content: "";
        height: 100%;
        width: 1px;
        background-color: rgba(128, 128, 128, 0.468);
        position: absolute;
    }

}

@keyframes anim3 {
    0% {
        width: 0;
        height: 0;
    }

    50% {
        width: 2000px;
        height: 2000px;
    }

    100% {
        width: 0;
        height: 0;
    }
}

@keyframes anim2 {
    from {
        opacity: 0;
        transform: translateX(-300px) translateY(50px) rotate(180deg);
    }

    to {
        opacity: 1;
        transform: translateX(0) translateY(0px) rotate(0);
    }
}

@keyframes anim {
    from {
        opacity: 0;
        transform: translateX(300px) translateY(-50px) rotate(180deg);
    }

    to {
        opacity: 1;
        transform: translateX(0) translateY(0px) rotate(0);
    }
}