@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

* {
    font-family: 'Manrope', sans-serif;

}

body {
    background-color: #161517;
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
}

section {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation {
    position: fixed;
    top: 0;
    z-index: 100000;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 6rem;

    .crt {
        p {
            margin: 0 20px;
        }
    }

    .icn {
        font-size: 2.5rem;
    }

    h3 {
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
        position: relative;

        &::after {
            position: absolute;
            height: 100%;
            width: 1px;
            left: 80px;
            top: 0;
            content: "";
            background-color: rgb(225, 225, 225);
        }
    }

    .fs-7 {
        white-space: nowrap;
        font-size: 0.7rem;

        &:nth-child(1) {
            color: #f77f00;
        }

        &:nth-child(2) {
            color: #ef476f;
        }
    }

    .col {
        span {
            color: rgb(216, 216, 216);
        }
    }
}

.homecontent {
    overflow: hidden;
    background-color: rgba(20, 19, 20, 0.782);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
        bottom: 0;
        z-index: 10;
        height: 700px;
        position: absolute;
    }

}

.images {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;

    img {
        max-width: 10rem;
        border-radius: 50%;

        &:nth-child(1) {
            animation-name: anim;
            z-index: -10000;
            animation-delay: 1s;
            opacity: 0;
            animation-fill-mode:forwards;
            animation-duration: 1s;
            margin-top: 200px !important;
        }
        
        &:nth-child(2) {
            opacity: 0;
            animation-delay: 1.5s;
            animation-name: anim2;
            animation-fill-mode:forwards;
            animation-duration: 1s;
            margin-bottom: 200px !important;
        }
    }


}
.circle {
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation-delay: 1s;
    background-color: #ef476f;
    width:0px;
    animation-fill-mode: forwards;
    height: 0px;
    border-radius: 50%;
    animation-delay: 0.5;
    animation-name: anim3;
    animation-duration: 2.5s;
}
@keyframes anim3 {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 2000px;
        height: 2000px;
    }
    100% {
        width: 0;
        height: 0;
    }
}
@keyframes anim2 {
    from {
        opacity: 0;
        transform: translateX(-300px) translateY(50px) rotate(180deg);
    }

    to {
        opacity: 1;
        transform: translateX(0) translateY(0px) rotate(0);
    }
}
@keyframes anim {
    from {
        opacity: 0;
        transform: translateX(300px) translateY(-50px) rotate(180deg);
    }

    to {
        opacity: 1;
        transform: translateX(0) translateY(0px) rotate(0);
    }
}

@media screen and (max-width:768px) {
    .homecontent img {
        height: 300px;
        z-index: 1000000;
    }

    .images img {
        width: 5rem;
    }
    .navigation {
        padding: 0 1rem;
        
    }
    .custom {
        height: 60vh;
    }
}