.cs {
    h1 {
        font-weight: bold;
        letter-spacing: 3px;
    }

    p {
        margin: 40px 0;
    }

    button {
        font-weight: bold;
        background-color: rgb(246, 76, 133);
        border: 0;
        outline: 0;
        padding: 15px;
        color: white;
    }
}
.icon {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.icons {
    svg {
        color: white;
        margin: 0 10px;
    }
}
.tcc {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
    justify-content: center;
    h1 {
        font-weight: bold;
        font-size: 4vw;
        span {
            color: gray;
        }
    }
}
.ds {
    .col-md-4 {
        flex-direction: column;
        align-items: center;
        display: flex;
        text-align: center;
    }

    .icon-place {
        width: 70px;
        height:70px;
        display: flex;
        align-content: center;
        justify-content: center;
        border-radius: 50%;
        background-color: rgb(34, 34, 34);

        svg {
            color: white;
            height: 100%;
        }
    }

    h1 {
        margin: 10px 0;
        font-weight: bold;
    }
}
@media screen and (max-width:768px) {
    .axxa {
        width: 100%;
        height: 400px !important;
    }
}