.cs {
    h1 {
        font-weight: bold;
        letter-spacing: 3px;
    }
    p {
        margin: 40px 0;
    }
    button {
        font-weight: bold;
        background-color: rgb(246, 76, 133);
        border: 0;
        outline: 0;
        padding: 15px;
        color: white;
    }
}